p {
    font-family: "Roboto", Arial;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}
body {
    margin: 0px;
    padding-top: 80px;
      background-color: rgb(252, 247, 247);
      padding-left: 96px;
}
a {
    text-decoration: none;
    color: black;
}